@charset "UTF-8";

@media (max-width: 1059px) {
    
    header {
        justify-content: space-between;
    }
    .nav {
        display: none;
    }
    .btn-div {
        display: none;
    }
    .hamburger-menu {
        width: 100px;

        display: block;

        border: transparent;
        background-color: transparent;
    }
    .hamburger-menu > span {
        width: 100px;
        display: block;
    }
}






@media (max-width: 520px) {
    header {
        height: 150px;

        margin: none;
        position: static;

        flex-direction: column;
        justify-content: center;
    }
}