@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* font-family: 'Roboto', sans-serif; */
@font-face {
    font-family: pacifico;
    src: url(/fontes/Pacifico-Regular.ttf);
}


body, html {
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}

/* header */

header {
    width: 100%;
    height: 100px;

    background-color: white;

    padding: 0px 150px;

    z-index: 1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
}

#logo {
    font-family: pacifico;
    font-size: 4rem;
}

.list-nav {
    display: flex;
}
.list-nav > li {
    margin: 0px 20px;

    font-weight: 100;
}
.list-nav a {
    color: black;
}

.pesquisa-nav {
    width: 150px;
    height: 35px;

    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid grey;
}
.btn-nav {
    width: 65px;
    height: 35px;

    font-family: pacifico;
    font-weight: bolder;
    color: white;

    border-radius: 8px;
    border: 1px solid grey;

    background-color: #D90D1E;
    color: black;

    cursor: pointer;
}


.hamburger-menu {
    display: none;
    cursor: pointer;

    font-size: 4rem;
}
span {
    width: 300px;
}
.hide {
    display: none;
}

/* body */

.banner {
    width: 100%;
    height: 500px;

    padding-top: 200px;
    padding-left: 70px;

    border-bottom: 10px solid black;

    position: relative;
    top: 100px;

    color: white;
    text-shadow: 2px 3px 2px black;
    

    background-image: url(/imagens/background2.jpg);
    background-position: center;
    background-size: cover;
}
.banner h1 {
    font-size: 3rem;

    font-family: pacifico;
}
.btn-banner {
    width: 100px;
    height: 50px;

    margin: 30px 0px;
    border-radius: 8px;
    border: 1px solid #D90D1E;

    font-weight: bolder;

    font-family: pacifico;

    cursor: pointer;
}

/* Cards */ 

.cards {
    width: 100%;
    height: 800px;

    background-color: rgb(81, 95, 95);

    padding: 300px 50px;

    display: flex;
    justify-content: space-around;

    border-bottom: 10px solid black;
}
.card {
    width: 300px;
    height: 450px;

    display: flex;
    flex-direction: column;
}
.card h1 {
    font-family: pacifico;
}
.card img {
    width: 70px;
}

/* player */

.player {
    width: 100%;
    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/imagens/background3.jpg);
    background-size: cover;
    background-attachment: fixed;

    border-bottom: 10px solid black;

}
.player-audio {
    width: 300px;
    height: 500px;

    background-color: white;

    text-align: center;
    overflow: hidden;
    
    border-radius: 10px;
}
.player-audio img {
    width: 300px;
}

/* footer */

footer {
    width: 100%;
    height: 300px;

    padding: 100px 200px;
    
    background-color: darkslategray;

    display: flex;
    justify-content: space-around;
}
footer ul {
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:baseline;
}
footer a {
    color: black;
    font-weight: bold;
}
footer a:hover {
    color: aliceblue;
}
.fale-conosco {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
